body {
  font-family: sans-serif;
  text-align: center;
  background-color: #111;
  color: white;
}
#avatars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.avatar {
  margin: 10px;
  cursor: pointer;
}
.avatar img {
  width: 128px;
  height: 128px;
  border-radius: 10px;
}
#chat {
  margin-top: 20px;
}