body {
  font-family: sans-serif;
  text-align: center;
}

#players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.player {
  margin: 10px;
}

#chat {
  margin-top: 20px;
}